<header class="header">
   <h1 id="heading" class="logo">company</h1>
   <a href="#menuresp" class="menu-resp">menu</a>
   <div class="wrap-rightbar wrap-rightbar">
      <button id="toggleSide" class="menu menu--active"></button>
      <nav class="nav">
         <a class="nav__link nav__link--slash nav__link" href="#dashboard">dashboard</a>
         <a class="nav__link nav__link--slash" href="#home">home</a>
         <a class="nav__link" href="#site">all site view</a>
      </nav>
      <div class="sort">
         <span class="sort__title">reporting periond</span>
         <select class="sort__period sort__period--collapsed">
            <option value="30">Last 30 day's</option>
            <option value="60">Last 60 day's</option>
            <option value="120">Last 120 day's</option>
            <option value="360">Last 360 day's</option>
         </select>
      </div>
      </div>
</header>