<aside id="left" class="leftbar">
   <div class="leftbar__user leftbar__user">
      <img class="leftbar__photo" src="img/profilephoto.png" alt="userPhoto">
      <div class="leftbar__info leftbar__info">
         <span class="info-header">user name</span>
         <span class="info-desc">company name</span>
      </div>
   </div>
   <h2 class="leftbar__header leftbar__header">general</h2>
   <div class="leftbar__menu leftbar__menu">
      <a class="accordion accordion leftbar__dashboard">dashboard</a>
      <div class="panel panel">
         <ul class="panel__container panel__container">
            <li class="panel__item panel__item--db1"><a href="#db1">dashboard 1</a></li>
            <li class="panel__item panel__item--db2"><a href="#db2">dashboard 2</a></li>
            <li class="panel__item panel__item--db3"><a href="#db3">dashboard 3</a></li>
            <li class="panel__item panel__item--dbsoon"><a href="#dbsoon">coming soon</a></li>
         </ul>
      </div>
      <a class="accordion accordion leftbar__layout">layouts</a>
      <div class="panel panel">
      </div>
      <a class="accordion accordion leftbar__pages">pages</a>
      <div class="panel panel">
      </div>
      <a class="accordion accordion leftbar__message">message <span class="msgcount msgcount">09</span></a>
      <div class="panel panel">
      </div>
   </div>
</aside>