<div class="tablecontainer">
<table id="table" class="orders">
      <thead>
      
      <tr class="orders__headrow">
         <td colspan="4" ><a href="#">recent order<img class="recent" src="img/table/recent.png" alt="recent order"></a></td>
         <td colspan="4"><a class="refresh" href="#"><img src="img/table/refresh.png" alt="refresh values"></a>
         <a class="recent" href="#link"><img src="img/table/recent.png" alt="recent sort"></a>
         <a class="cancel" href="#link"><img src="img/table/cancel.png" alt="cancel sort"></a></td>
      </tr>
      <tr class="orders__names">
         <td>image</td>
         <td>product name</td>
         <td>product code</td>
         <td>status</td>
         <td>purchased on</td>
         <td>price</td>
         <td>quantity</td>
         <td>tracking no#</td>
      </tr>
        </thead>
<tbody>
      <tr class="orders__row">
         <td><img src="../img/table/product1.png" alt="product1"></td>
         <td>your product title here</td>
         <td>3bsd59</td>
         <td>paid</td>
         <td>27 sep 2015</td>
         <td>99.00$</td>
         <td>2</td>
         <td>#bg6r9853lp</td>
      </tr>
      <tr class="orders__row">
         <td><img src="../img/table/product2.png" alt="product2"></td>
         <td>your product title here</td>
         <td>3bh87g</td>
         <td>pending</td>
         <td>08 sep 2015</td>
         <td>99.00$</td>
         <td>2</td>
         <td>#398qrm83b</td>
      </tr>
      </tbody>
</table>
</div>