<!DOCTYPE html>
<html lang="en">
	<head>
		<title>testDiversidoMobile</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link href="css/normalize.css"rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
	//= partials/header.html
	<div class="content">
		//= partials/leftbar.html
		//= partials/table.html
	</div>
	<script src="js/common.js">
	</script>
	</body>
</html>